PROJECT_NAME="FLAE Agents"
GOOGLE_APPLICATION_CREDENTIALS="/firebaseadmin.json"
# # Chỉ sử dụng khi ở firebase emulator local
# FIRESTORE_EMULATOR_HOST=firebase-emulator:8080
# FIREBASE_AUTH_EMULATOR_HOST=firebase-emulator:9099
# STORAGE_EMULATOR_HOST=http://firebase-emulator:9199
GOOGLE_CLOUD_PROJECT=flae-agents
GCS_BUCKET_NAME=flae-agents.appspot.com
ENVIRONMENT="local"
TEMPORAL_HOST="localhost:7233"
TEMPORAL_NAMESPACE="default"

# DATABASE
RAG_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/rag_db"
POSTGRES_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/flae_db"
REDIS_URL="redis://localhost:6379/0"

# GEMINI CONFIG
GEMINI_API_KEY=""
GEMINI_LLM_MODEL="gemini-2.5-flash"
GEMINI_EMBEDDING_MODEL="gemini-embedding-001" # Phải sử dụng phiên bản này nếu không sẽ phát sinh lỗi hệ thống

# LANGSMITH TRACING
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<your-api-key>
LANGCHAIN_PROJECT="FALE-agent"
