PROJECT_NAME="FLAE Agents"
GOOGLE_APPLICATION_CREDENTIALS="/firebaseadmin.json"
# Chỉ sử dụng khi ở firebase emulator local
FIRESTORE_EMULATOR_HOST=firebase-emulator:8080
FIREBASE_AUTH_EMULATOR_HOST=firebase-emulator:9099
FIREBASE_STORAGE_EMULATOR_HOST=firebase-emulator:9199
GOOGLE_CLOUD_PROJECT=demo-projects
ENVIRONMENT="local"